/* Master Styles */
body {
    margin: 0px;
    font-family: 'Varela Round', sans-serif;

}
.holder {
    display: grid;
    grid-template-columns: 1fr;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    opacity: 0;
    visibility: hidden;
}
.container--show {
    opacity: 100;
    visibility: visible;
}
/* Navigation Styles */
  
.navigationBar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background: rgb(20, 20, 20);

    background-position: center;
    background-size: cover;
    position: relative;
}

.teamName {
    margin-right: 20px;
    display: flex;
    background: rgb(20, 20, 20);
}
.brandText img{
    align-content: center;
    width: 2.5em;
    padding-right: 20px;
}


.nav-links {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    background: rgb(20, 20, 20);
}

.navigationBar > .nav-links > div {
    padding: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
}


.navigationLinkWrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.navigationLinkWrapper a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.navigationLinkWrapper:hover {
    border-bottom: 1px solid red;
}

.navigationLinkWrapper a:hover {
    color: red;
}

.active-nav-link {
    border-bottom: 1px solid red;
}

.active-nav-link a {
    color: red !important;
}
/* Home Page Styles */
.wideImage img{
    display: grid;
    width: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.wideVideo video{
    display: grid;
    width: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

}
.motto {
    display: grid;
    text-align: center;
    width: 100%;
    font-size: 72px;
    color: #9C1C34;
    font-family: 'Alkalami', serif;
}
.rocketryIntro {
    display: grid;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #9C1C34;
}
.projects {
    display: grid;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #9C1C34;
}
.teams{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.team {
    position: relative;
}
.teamBackgroundImage img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imageTextWrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.imageTextWrapper .subtitleText {
    font-weight: 600;
    transition: 1s;
    color: transparent;
}
.imageTextWrapper:hover .subtitleText {
    font-weight: 600;
    color: lightseagreen;

}
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}
.teamButton {
    background-color: #555555;
    border: groove;
    border-block-color: ghostwhite;
    border-width: 2px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: max-content;
    transition-duration: .4s;
}
.teamButton:hover {
    background-color: #e7e7e7;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.teamButton a {
    text-decoration: none;
    transition: color 0.5s;
}

/* Landing Page */
.landingPage {
    display: grid;
    grid-template-columns: 1fr;
}

.landPageText {
    position: relative;
}

.landingPageBackgroundImage {
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landPageText {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

.landPageText h1 {
    font-size: 100px;
    text-align: left;
    margin: 10px;
}
.landPageText h4 {
    text-align: left;
    margin: 10px;
}
.homeButton {
    background-color: #555555;
    border: groove;
    border-block-color: ghostwhite;
    border-width: 2px;
    color: white;
    padding: 15px 32px;
    margin-left: 250px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: max-content;
    transition-duration: .4s;
}
.homeButton:hover {
    background-color: #e7e7e7;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.homeButton a {
    text-decoration: none;
    transition: color 0.5s;
}
/* Loading Screen*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333 !important;
    transition: opacity 3.75s, visibility .75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  
  #rocket {
    animation: rocket 1s infinite linear;
    transform-origin: center;
  }
  @keyframes rocket{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-360deg);
    }
  }
/* About Team */
.aboutTeam {
    display: grid;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #9C1C34;
}
.aboutIntro{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.textIntro {
    position: relative;
}
.funnyPic {
    position: relative;
}
.teamBackgroundImage img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.textIntro text{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.imageTextWrapper .subtitleText {
    font-weight: 600;
    transition: 1s;
    color: transparent;
}
.imageTextWrapper:hover .subtitleText {
    font-weight: 600;
    color: lightseagreen;

}
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}